
{%- assign product_cat = '' -%}

{% for collection in product.collections %}
    {%- assign product_cat = 'class-' | append: collection.id -%}
{% endfor %}


{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 


{%- comment -%} "{{ variant.id }}" this Class is needed for Ajax popup cart {%- endcomment -%}
<div class="col-6 col-md-6 col-lg-4 col-xl-3 {% for collection in product.collections %} collect-{{ collection.id }}{% endfor %}">

<div class="single-product product-hover hover {{ variant.id }} {%- if settings.countdown_timer_enable == true and product.description contains '[countdown]' -%} countdownprod {%- endif -%} {%- if sold_out -%} sold_out_prod {%- endif -%} {%- unless settings.product_cart_action_enable -%} no_cart_button {%- endunless -%}">

  <div class="single-product__image">
    
     {% comment %}
    <a class="image-wrap" href="{{ product.url | within: collection }}">
       {% endcomment %}
      {% if product.featured_image.src != blank %}
      <a class="image-wrap" href="{{ product.url | within: collection }}">
        {% if product.images.size > 1 and settings.product_dual_thumb_enable == true %}
        <img class="lazyload popup_cart_image" alt="{{ product.featured_image.alt | escape }}" data-src="{{ product.featured_image.src | img_url: '600x600', crop: 'bottom' }}">
        {% for image in product.images limit: 1 offset: 1 %}
        <img class="lazyload popup_cart_image" alt="{{ product.featured_image.alt | escape }}" data-src="{{ image.src | img_url: '600x800', crop: 'bottom' }}">
        {% endfor %}
        {% else %}
        <img class="lazyload popup_cart_image" alt="{{ product.featured_image.alt | escape }}" data-src="{{ product.featured_image.src | img_url: '600x600', crop: 'bottom' }}">
      </a>
      {% endif %}
      {% else %}
      <a class="image-wrap" href="{{ product.url | within: collection }}" >
        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
        <div style="padding: 6px 0;">
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </a>
      {% endif %}
    {% comment %}  
     </a>
    {% endcomment %}
    <div class="single-product__floating-badges">
       {%- include 'product-badge' -%}
    </div>

    <div class="single-product__floating-icons">
      {%- if settings.product_wishlist_enable -%}
      <span class="wishlist_inner">
      	{% include 'wishlist-button' %}
      </span>
      {%- endif -%}
      
      {%- if settings.product_compare_enable -%}
      <span class="compare"><a  href="#" data-tippy-content="{{ settings.compare_product_title }}" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "{% if settings.rtl_enable %}right{% else %}left{% endif %}"  class="compare" data-pid="{{ product.handle  }}"><i class="ion-ios-shuffle-strong"></i></a> </span>
      {%- endif -%}
      {%- unless product.description contains '[affiliate_link]' -%}
      {%- if settings.product_quickview_enalbe -%}
      <span class="quickview">
        <a data-toggle="modal" data-target="#quickViewModal" href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')"  data-tippy-content="{{ settings.product_quick_view_title }}" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "{% if settings.rtl_enable %}right{% else %}left{% endif %}"  ><i class="ion-ios-search-strong"></i></a></span>
      {%- endif -%}
      {%- endunless -%}
    </div>
    {% if product.variants.size > 1 and settings.product_variants_show %}
    <div class="single-product__variations">
        {% include 'product-size-variant' %}
        {% include 'product-color-variant' %}
    </div>
    {% endif %}
    
    {% if product.description contains '[countdown]' and settings.countdown_timer_enable %}
    {% assign count_down_first = product.description | split:'[/countdown]' | first %}
    {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
    <div class="product_timer">
      <div data-countdown="{{ count_down_final }}"></div> 
    </div>
    {% endif %}
  </div>
  <div class="single-product__content">
    <div class="title">
      <div class="prod-text-container">
        {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: 'text-align: center', concierge_install: true %}
       <span class="popup_cart_title">  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
           <span id="product_current_price" class="discounted-price" > | {{ product.variants.first.price | money }}</span>
                  {% if product.variants.first.compare_at_price > product.variants.first.price %}
                  <span class="main-price discounted ">{{ product.variants.first.compare_at_price | money }}</span>
                  {% endif %}
        
        
        </span>
    
        </div>
      {%- if settings.product_cart_action_enable -%}
      <div class="product-cart-action">
        <div class="nutrients_ingredients">
          {% for image in product.images %}
              {% if 'nutrition' == image.alt %}
                <a class="ingredient_link" href="javascript:void(0);" onclick="openNutriPopup('{{ image | img_url: '1000x' }}','{{product.title | escape }}')">Ingredients & Nutrition Facts</a>
                {% break %}
              {% endif %}
          {% endfor %}
        </div>
        
        {% if product.available %}
        <div class="qty_cart">
          <div class="quantity">
            <input id="qty_selector_{{product.id}}" type="number" class="input-text qty text" step="1" min="0" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" >
            <input class="minus" onclick="removeQty('qty_selector_{{product.id}}')"  type="button" value="-">
            <input class="plus" onclick="addQty('qty_selector_{{product.id}}')" type="button" value="+">
          </div>
          <div class="cart_widget">
          {% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
  		{% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}
          
          {%- if product.description contains '[affiliate_link]' -%}
            <a title="{{ settings.affiliate_cart_button_title }}" href="{{ affiliate_link_final }}" class="">
              <span class="cart-text">{{ settings.affiliate_cart_button_title }}</span>
             </a>
          {%- else -%}
          {%- if settings.product_cart_type == 'ajax_spin_cart' -%}
          {% if product.variants.size == 1 %}
          <a href="javascript:void(0);" onclick="{{ func }}; return false;" class=" ajax-spin-cart">
            <span>
              <span class="cart-title">{{ settings.cart_button_title }}</span>
              <span class="cart-loading">{{ settings.wait_title }}</span>
              <span class="cart-added">{{ settings.added_title }}</span>
              <span class="cart-unavailable">{{ settings.unavailable_title }}</span>
            </span>
          </a>
          {% else %}
          <a href="{{ product.url | within: collection }}" class="">
            <span>
              <span class="cart-title">{{ settings.select_options }}</span>
            </span>
          </a>
          {% endif %}
          
          {%- elsif settings.product_cart_type == 'ajax_popup_cart' -%}
          {% if product.variants.size == 1 %}
          <a href="javascript:void(0);" onclick="addItemWithQty('qty_selector_{{product.id}}','{{variant.id}}'); return false;" class="">
            <span>
              <span class="cart-title">{{ settings.cart_button_title }}</span>
            </span>
          </a>
          {% else %}
          <a href="{{ product.url | within: collection }}" class="">
            <span>
              <span class="cart-title">{{ settings.select_options }}</span>
            </span>
          </a>
          {% endif %}
          {%- elsif settings.product_cart_type == 'without_ajax_cart' -%}
            {% if product.variants.size == 1 %}
            <a href="javascript:void(0);" onclick="addItemWithQty('qty_selector_{{product.id}}','{{variant.id}}'); return false;" class="">
              <span>
                <span class="cart-title">{{ settings.cart_button_title }}</span>
              </span>
            </a>
            {% else %}
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <select name="id" style="display:none;">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="">
                <span>
                  <span class="cart-title">{{ settings.cart_button_title }}</span>
                  
                </span>
              </button>
            </form>
            {% endif %}
          {%- endif -%}
          {%- endif -%}
          </div>
        </div>
          {%- else -%}
          <button class="cart-disable">
            <span class="cart-text">{{ settings.soldout_button_title }}</span>
          </button>
          {%- endif -%}
          
      {%- endif -%}
      </div>
    </div>
{% comment %}
    <div>
     <div class="price">
      <span id="product_current_price" class="discounted-price" >{{ product.variants.first.price | money }}</span>
      {% if product.variants.first.compare_at_price > product.variants.first.price %}
      <span class="main-price discounted ">{{ product.variants.first.compare_at_price | money }}</span>
      {% endif %}
    </div> 
    </div>
    {% endcomment %}
    {% comment %}
    <div class="product-description">
      {%- if product.description contains '[short_description]' -%} 
      {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
      {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
      {{ short_description_final }}
      {%- else -%}
      {{ product.description | strip_html | truncatewords: 35 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
      {%- endif -%}
    </div>
    {% endcomment %}
  </div>
  
  <script>
    function addQty(id){
      var currentVal = parseInt($('#'+id).val());
      currentVal = currentVal + 1;
      $('#'+id).val(currentVal);
    }
    
    function removeQty(id){
      var currentVal = parseInt($('#'+id).val());
      if(currentVal != 1){
        currentVal = currentVal - 1;
        $('#'+id).val(currentVal);
      }
    }
    
    function addItemWithQty(id , vid){
      var qty = parseInt($('#'+id).val());
      Shopify.addItem(vid, qty);
    }
  
  </script>
  
  

  <!--=======  End of single product content  =======-->
</div>
</div>
