<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
	<!-- Snap Pixel Code -->
    <script type='text/javascript'>
    (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
    {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
    a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
    r.src=n;var u=t.getElementsByTagName(s)[0];
    u.parentNode.insertBefore(r,u);})(window,document,
    'https://sc-static.net/scevent.min.js');
    snaptr('init', 'ca972703-cd77-4a1e-bd8d-abb10e7884c3', {

    'user_email': 'contactus@realgoodfoods.com'
    });
    snaptr('track', 'PAGE_VIEW');
    </script>
    <!-- End Snap Pixel Code -->
    <!-- Pinterest Pixel Base Code -->
    <script type="text/javascript">
    !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(
    Array.prototype.slice.call(arguments))};var
    n=window.pintrk;n.queue=[],n.version="3.0";var
    t=document.createElement("script");t.async=!0,t.src=e;var
    r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2617387489458' );
    pintrk('page');
    </script>
    <noscript><img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2617387489458&noscript=1" /></noscript>
    <!-- End Pinterest Pixel Base Code --!>

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {%- capture seo_title -%}
  {{ page_title }}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- unless page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {%- include 'social-meta-tags' -%}

  <!-- CSS -->
  
  {%- include 'header-css' -%}


  <!-- Header hook for plugins -->
  {% include 'wlm-head' %}
{{ content_for_header }}
  {%- include 'bold-common' -%}
  {%- include 'oldIE-js' -%}
  <!-- JS -->
  {%- include 'header-js' -%}

  {%- if template contains 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}

  {{ shop.metafields.theme.cdn_css }}
{% include 'wsg-header' %}
  <!--<script async src='https://affilo.io/libs/affiliate.lib.js'></script>--> 
  <script>
    setInterval(function(){ 
   $(".owl-next").click();
},5000);
    </script>
 <!--<script src='https://affilo.io/libs/affiliate.lib.js'></script>-->  
 
  
{% include 'booster-common' %}

  {% render 'shogun-head' %}
</head>

<body {% if settings.rtl_enable %} dir="rtl" {% endif %} id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }} {% if settings.header_type == "wearables" %}vertical-header {% endif %} " >

  {%- if settings.enable_preloader -%}
  {%- include 'preloader' -%} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {%- include 'newsletter-popup' -%}
  {%- endif -%}
  
  <div id="nutri_overlay" class="product-ovelay" onclick="closeProductPopup()"></div>
  <div id="popup-container" class="product-parent">
    <div class="popup_inner">
      <div class="title"><span id="dynamic-title"></span> <span class="close-cross" onclick="closeProductPopup()">x</span></div>
      <img id="nutri_img" src="">
    
    </div>
  
  </div>

  <div class="wrapper{% if settings.box_layout_enable %} wrapper-box{% endif %}">

    {%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {%- include 'top-notification-bar' -%}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {%- include 'top-notification-bar' -%}
    {%- endif -%}
    {%- endif -%}
    
    {%- if template == 'index' and settings.body_top_slider == true -%}
    {%- section 'revslide_for_cosmetic' -%}
    {%- endif -%}

    {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'header_settings' -%}
    {%- endif -%}

    {%- if template != 'index' and template != '404' -%}
    {%- include 'breadcrumb-banner' -%}
    {%- endif -%}

    <main>
      {% comment %}{{ content_for_layout }}{% endcomment %}{% include 'wlm-body' %}
    </main>

    {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'footer_settings' -%}
    {%- endif -%}

  </div>
 
  <!-- Necessary JS -->
  {%- include 'footer-js' -%}
  

  {%- include 'modal-compare' -%}
  
  {%- if settings.scroll_to_top -%}
  <!-- scroll to top  -->
  <a href="#" class="scroll-top"></a>
  <!-- end of scroll to top -->
  {%- endif -%}
  
  {%- include 'bold-loyalties-widget' -%}
{% include 'carro' %}
<!-- spurit_uev-added -->
{% include 'spurit_uev-theme-snippet' %}
<!-- /spurit_uev-added --> 
{% include 'back-in-stock-helper' %}

<!--<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>-->

{% include 'booster-discounts' %}
</body>
</html>
