{% if section.settings.section_enable %}
<div class="two_cta_with_left_text" id="section-{{ section.id }}">
  	<div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% if section.settings.cta_heading != blank %}
          <div class="cta_heading">{{ section.settings.cta_heading }}</div>
          {% endif %} 
          <div class="right_cta">
              	<a href="{{ section.settings.call_to_action_btn_link }}" {% if section.settings.new_window != blank %} target="_blank" {% endif %} id="btn1">
                {{ section.settings.call_to_action_btn }}
            	</a>
            	<a href="{{ section.settings.call_to_action_btn_link_2 }}" {% if section.settings.new_window_2 != blank %} target="_blank" {% endif %} id="btn2">
                {{ section.settings.call_to_action_btn_2 }}
            	</a>
          </div>
        </div>
      </div>
  	</div>
  	 
</div>
{% endif %}


<style>
#section-{{ section.id }}{
  position:relative;
  width:100%;
  display:block;
  background:#B7B4FF;
  background-size:cover;
  background-repeat:repeat;
  background-position:center center;
  padding:70px 0;
  /*border-bottom:6px solid #B49DC9*/
}
#section-{{ section.id }} .cta_heading{
  color:#fff;
  font-size:56px;
  line-height:1.15;
  font-weight:bold;
  display:inline-block;
  width:33%;
  vertical-align:middle
}
#section-{{ section.id }} .right_cta{
  display:inline-block;
  width:66%;
  padding-left:15px;
  box-sizing:border-box;
  vertical-align:middle;
  text-align:right
}
#section-{{ section.id }} .right_cta a{
  background:#E24AC0;
  color:#fff;
  padding:12.5px 30px;
  font-size:20px;
  line-height:1;
  font-weight:bold;
  box-shadow: 0px 3px 6px #7571FF;
  border-radius:39px;
  text-transform:uppercase;
  text-align:center
}
#btn1{margin-right:6%}
#section-{{ section.id }} .right_cta a:hover{
  background:#333;
  color:#fff;
  box-shadow: 0px 3px 6px #999;
}
  
{%- if section.settings.background_color -%}
  #section-{{ section.id }} {
    background:{{ section.settings.background_color }}; 
  }  
{%- endif -%}
{%- if section.settings.background_image -%}
  #section-{{ section.id }} {
    background-image:url(' {{ section.settings.background_image | img_url: 'master' }} '); 
  }  
{%- endif -%}
{%- if section.settings.heading_color -%}
  #section-{{ section.id }} .cta_heading{
    color:{{ section.settings.heading_color }}; 
  }
{%- endif -%}
{%- if section.settings.cta_text_color -%}
  #section-{{ section.id }} .right_cta a{
    color:{{ section.settings.cta_text_color }}; 
  }
{%- endif -%}
{%- if section.settings.cta_bg_color -%}
  #section-{{ section.id }} .right_cta a{
    background:{{ section.settings.cta_bg_color }}; 
  }  
{%- endif -%}
  
  @media screen and (max-width:1219px){
    #section-{{ section.id }}{padding:55px 0}
    /*#section-{{ section.id }} .cta_heading{width:72%}
    #section-{{ section.id }} .right_cta{width:27.5%}*/
    #section-{{ section.id }} .cta_heading{font-size:48px}
    #section-{{ section.id }} .right_cta a{padding:10px 25px;font-size:18px}
  }

  @media screen and (max-width:1139px){
    #section-{{ section.id }}{padding:50px 0}
    #section-{{ section.id }} .cta_heading{width:23%}
    #section-{{ section.id }} .right_cta{width:76%}
    #section-{{ section.id }} .cta_heading{font-size:42px}
    #section-{{ section.id }} .right_cta a{padding:8px 15px;font-size:18px}
    #btn1{margin-right:15px}
  }
  @media screen and (max-width:979px){
    #section-{{ section.id }}{padding:45px 0}
    #section-{{ section.id }} .cta_heading{font-size:38px}
  }
  @media screen and (max-width:767px){
    #section-{{ section.id }}{padding:35px 0}
    #section-{{ section.id }} .cta_heading{width:20%}
    #section-{{ section.id }} .right_cta{width:79%}
    #section-{{ section.id }} .cta_heading{font-size:26px}
    #section-{{ section.id }} .right_cta a{font-size:14px}
    #btn1{margin-right:10px}
    
  }
  @media screen and (max-width:639px){
    #section-{{ section.id }}{padding:30px 0}
    #section-{{ section.id }} .cta_heading{width:19%}
    #section-{{ section.id }} .right_cta{width:80%}
    #section-{{ section.id }} .cta_heading{font-size:22px}
    #section-{{ section.id }} .right_cta a{padding:7.5px 15px;font-size:12px}
  }
  @media screen and (max-width:479px){
    #section-{{ section.id }}{padding:25px 0}
    #section-{{ section.id }} .cta_heading{width:20%}
    #section-{{ section.id }} .right_cta{width:78.5%;}
    #section-{{ section.id }} .cta_heading{font-size:16px}
    #section-{{ section.id }} .right_cta a{padding:5px 10px;font-size:9px;line-height:1}
  }
  @media screen and (max-width:374px){
    #section-{{ section.id }}{padding:20px 0}
  	#section-{{ section.id }} .cta_heading{font-size:18px;width:100%}
    #section-{{ section.id }} .right_cta{width:100%;padding-left:0;text-align:center;padding-top:5px}
    #section-{{ section.id }} .cta_heading{text-align:center}
    #section-{{ section.id }} .right_cta a{display:block;margin:0 auto;padding:7.5px 15px;font-size:10px;line-height:1}
    #btn1{margin-right:auto;margin-bottom:5px !important}
  }
</style>

{% schema %}
  {
    "name": "CTA 2 with left TEXT",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",  
          "default": true
      	},
		{
          "type": "header",
          "content": "CTA Heading"
        },
        {
          "type": "textarea",
          "id": "cta_heading",
          "label": "Heading",
          "default": "Sample CTA Heading"
        },
		{
          "type": "text",
          "id": "call_to_action_btn",
          "label": "Call To Action Btn #1",
          "default": "Real Good Family"
        },
		{
          "type": "url",
          "id": "call_to_action_btn_link",
          "label": "URL #1"
        },
		{
          "type": "checkbox",
          "id": "new_window",
          "label": "External Link #1",  
          "default": true
      	},
		{
          "type": "text",
          "id": "call_to_action_btn_2",
          "label": "Call To Action Btn #2",
          "default": "Real Good Family"
        },
		{
          "type": "url",
          "id": "call_to_action_btn_link_2",
          "label": "URL #2"
        },
		{
          "type": "checkbox",
          "id": "new_window_2",
          "label": "External Link #2",  
          "default": true
      	},
		{
          "type": "header",
          "content": "Colors"
        },
		{
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
		{
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default":"#B7B4FF"
        },
		{
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default":"#B49DC9"
        },
		{
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default":"#fff"
        },
		{
          "type": "color",
          "id": "cta_text_color",
          "label": "CTA Text Color",
          "default":"#fff"
        },
		{
          "type": "color",
          "id": "cta_bg_color",
          "label": "CTA Background Color",
          "default":"#E24AC0"
        }
	]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
