{% if section.settings.section_enable %}
<div class="simple--img--bnr" id="section-{{ section.id }}">
  <div class="image">
    
  	<img class="bnrImg" src="{% if section.settings.banner_img != blank %} {{ section.settings.banner_img | img_url: 'master' }}{% else %} https://via.placeholder.com/1920x600 {% endif %}" class="lazyload img-fluid" alt="">
  	
</div>
{% endif %}

<style>
#section-{{ section.id }}{position:relative;width:100%;display:block}
#section-{{ section.id }} .image,
#section-{{ section.id }} img{width:100%;max-width:100%;height:auto;display:block}

</style>

{% schema %}
  {
    "name": "Simple Image Banner",
    "settings": [
		{
		  "type": "header",
          "content": "Section Enable"
        },
		{
          "type": "checkbox",
          "id": "section_enable",
          "label": "Section Enable",
          "default": true
      	},
		{
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Image",
          "info": "Recommended Size: 1920 x 600 px"
        }
	],
    "presets": [
	    {
	        "category": "3. collections",
	        "name": "Simple Image Banner"
	    }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
